name: Terraform Azure Deployment

on:
  workflow_dispatch:
    inputs:
      UserCount:
        description: 'Number of users and environments to deploy (1-99), recommend only 15 per run. A count of 0 will destroy all users and environments.'
        required: true
        default: '0'
        type: string
      UserStart:
        description: 'Starting index for user numbering'
        required: false
        default: '10'
        type: string
jobs:
  terraform:
    permissions:
      id-token: write
      contents: read

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.3

      - name: Azure Login
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Terraform Init
        id: init
        working-directory: ./terraform
        run: terraform init -no-color -backend-config="resource_group_name=${{ secrets.BACKEND_AZURE_RESOURCE_GROUP_NAME }}" -backend-config="storage_account_name=${{ secrets.BACKEND_AZURE_STORAGE_ACCOUNT_NAME }}" -backend-config="container_name=${{ secrets.BACKEND_AZURE_STORAGE_CONTAINER_NAME }}"

      - name: Terraform Validate
        id: validate
        working-directory: ./terraform
        run: terraform validate -no-color

      - name: Terraform Plan
        id: plan
        working-directory: ./terraform
        run: terraform plan -no-color -out=tfplan
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_username_prefix: ${{ vars.ENV_USERNAME_PREFIX }}
          TF_VAR_user_count: ${{ github.event.inputs.UserCount }}
          TF_VAR_user_start: ${{ github.event.inputs.UserStart }}
          TF_VAR_rg_suffix: ${{ vars.ENV_RG_SUFFIX }}
          TF_VAR_location: ${{ vars.ENV_LOCATION }}
          TF_VAR_password: ${{ vars.ENV_BASIC_PASSWORD }}
          TF_VAR_user_principal_domain: ${{ vars.ENV_USER_PRINCIPAL_DOMAIN }}
          TF_VAR_onedrive_license_group_object_id: ${{ secrets.AZURE_ONEDRIVE_LICENSE_GROUP_OBJECT_ID }}

      - name: Terraform Apply
        if: (github.event_name == 'workflow_dispatch')
        id: apply
        working-directory: ./terraform
        run: terraform apply -auto-approve -parallelism=20 -no-color tfplan
        env:
          TF_VAR_subscription_id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          TF_VAR_username_prefix: ${{ vars.ENV_USERNAME_PREFIX }}
          TF_VAR_user_count: ${{ github.event.inputs.UserCount }}
          TF_VAR_user_start: ${{ github.event.inputs.UserStart }}
          TF_VAR_rg_suffix: ${{ vars.ENV_RG_SUFFIX }}
          TF_VAR_location: ${{ vars.ENV_LOCATION }}
          TF_VAR_password: ${{ vars.ENV_BASIC_PASSWORD }}
          TF_VAR_user_principal_domain: ${{ vars.ENV_USER_PRINCIPAL_DOMAIN }}
          TF_VAR_onedrive_license_group_object_id: ${{ secrets.AZURE_ONEDRIVE_LICENSE_GROUP_OBJECT_ID }}

      - name: Terraform Output
        if: (github.event_name == 'workflow_dispatch')
        id: output
        working-directory: ./terraform
        run: terraform output bastion_shareable_link -no-color
